.content-header span{
    font-weight: bold;
    font-size: 40px;
    margin-right: 20px;
}

.content-header input{
    margin-right: 10px;
}

.content-body ul{
    list-style: none;
    float: left;
    margin: 20px;
}

.content-body ul i{
    width: 10px;
}